Pictures/
.CFUserTextEncoding
.DS_Store
.IdentityService/
.aspnet/
.azuredatastudio/
.dotnet/
.gitconfig
.lesshst
.local/
.mono/
.npm-global/
.npm/
.npmrc
.nuget/
.templateengine/
.vscode/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
SQLQuery_1.sql
react001/
.bash_history
.bash_sessions/
.config/
.ssh/
.zsh_history
.zsh_sessions/
Public/
